body{
  font-family: 'Montserrat', sans-serif;
 
}
/* .container {
  display: flex;
  flex-direction: column;
  flex: 1;
} */
.container h1{
  text-align: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.canvas-section {
  display: flex;
  text-align: center;
  width: 300px;
  padding: 20px 15px 0 20px;
}
.canvas-section h2{
  text-align: right;
}
.canvas{
  display: flex;
  flex: 1;
  justify-content: center;
  padding:0 50px;
}

.label {
  display: flex;
  flex-direction: row;
  margin: 3%;
}

.input {
  margin-left: 2px;
}


.submit {
  width: 30%;
  margin: 3%;
}


.cta-btns {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 0 10px 15px;
  border-radius: 55px;
}
.row{
  border: 0.5px solid white;
  
}

.cell-around{
  background-color: white;
}

.cell-container{
  display: flex;
  flex: 1;
  padding: 9px;
  margin: 0.5px;
  border: 1px solid gray;
  border-radius: 50px;
  background-color: white;
}